<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register an Account</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <h1>Welcome!</h1>
    <h3>Please enter your desired username and password along with your e-mail so we can spam the crap out of you</h3>
  </header>

  <div class="login">
    <form method="POST" action="/auth/register" class="register">
      <div class="loginflex">
        <label for="username">Username:</label>
        <input name="username" type="text" required />
      </div>
      <div class="loginflex">
        <label for="email">E-Mail:</label>
        <input name="email" type="email" required />
      </div>
      <div class="loginflex">
        <label for="password">Password:</label>
        <input name="password" type="password" required />
      </div>
      <div class="loginflex">
        <input type="submit" value="Register!" />
      </div>
    </form>
  </div>
</body>
</html>
