<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New Currency</title>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/header %>

  <h1>Add A Currency</h1>
  <h3>Add in the name of which currency you'd like to track. If you'd like, you can include an investment as well.</h3>

    <div class="links">
    <div class="link">
      <a href="/tracker/tracker/">Back To Tracker</a>
    </div>
    <div class="link">
      <a href="/tracker/">Top 20 Currencies</a>
    </div>
  </div>

  <div class="add">
    <form action="/tracker/tracker" method="POST">
      <div class="addflex">
        <label for="currency_id">Name:</label>
        <input id="currency_id" type="text" name="currency_id"/>
      </div>

      <br/>

      <div class="addflex">
        <label for="amount">Amount:</label>
        <input id="amount" type="number" step="any" name="amount" value="0" />
      </div>

      <br/>

      <div class="addflex">
        <input type="submit" value="Add New Currency"/>
      </div>
    </form>
  </div>
</body>
</html>
