<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Top 20 Currencies</title>
  <% include ../partials/head %>
</head>
<body>
  <h1>Top 20 CryptoCurrencies</h1>

</body>
</html>
