<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Track Your Crypto Investments</title>
  <% include ../partials/head %>
</head>
<body>
  <h1>Your CryptoCurrency Investments</h1>

  <div class="links">
    <div class="link">
      <a href="/tracker/tracker/new">Add a New Currency</a>
    </div>
    <div class="link">
      <a href="/tracker/">Top 20 Currencies</a>
    </div>
  </div>

  <table class="personal">
    <tr>
      <th>Name</th>
    </tr>
    <% currencies.forEach((currency) => { %>
    <tr>
      <td><a href="<%= `/tracker/tracker/$currency.currency_id` %>"><%= currency.currency_id %></a></td>
    </tr>
    <% }) %>
  </table>
</body>
</html>
