<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Track Your Crypto Investments</title>
  <% include ./partials/head %>
</head>
<body>
  <h1>Hello and Welcome to Movie Phone!</h1>
  <div class="different">
   <a href="/tracker">Click here for something completely different</a>
  </div>
</body>
</html>
